:root{
    --primary-blue: #5956e9;
    --secondry-blue:#9091eb;
    --soft-blue: #ECF2F6;
    --purpple: #B1A6E7;
    --dark-purple: #4B398C;
    --yellow: #FFDC60;
    --pink: #FCD3DA;
    --body-color: #F8FAE5;
}